<%= form_for(@country) do |f| %>

<div>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
</div>

<div>
  <%= f.label :capital %><br>
  <%= f.text_area :capital %><br>
</div>

<div>
  <%= f.label :continent %><br>
  <%= f.text_area :continent %><br>
</div>

<div>
  <%= f.submit %><br>
</div>

<% end %>
