<%= form_for(@country) do |f| %>

<div class="createCountry">
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
</div>

<div class="createCountry">
  <%= f.label :capital %><br>
  <%= f.text_area :capital %><br>
</div>

<div class="createCountry">
  <%= f.label :continent %><br>
  <%= f.text_area :continent %><br>
</div>

<div class="submitCountry">
  <%= f.submit %><br>
</div>

<% end %>
