<h1>Countries</h1>
<p>Select a country to see some of the world's most
breathtaking landmarks</p>
<div class="country">
  <ul>

  <% @countries.each do |country| %>
    <!-- <li><%= country.capital %></li>
    <li><%= country.continent %></li> -->
  <li><%= link_to country.name, country_path(country) %></li><br>
  <% end %>

  </ul>

  <p><%= link_to "Create New Country", new_country_path %></p>

  <p><%= link_to "Back to Landmarks", landmarks_path %></p>

</div>
