<h1><%= @country.name %></h1>

<p>Capital: <%= @country.capital %></p>
<p>Continent: <%= @country.continent %> </p>

<ul>
  <% @landmarks.each do |landmark| %>
    <li><%= link_to landmark.name, landmark_path(landmark) %></li>


  <% end %>
</ul>

<%= link_to "All Countries", countries_path %>

<%= link_to 'Edit Country!', edit_country_path %>
<%= link_to 'Delete Country', country_path(@country), method: :delete,
    data: { confirm: "Are you sure you want to delete #{@country.name}?" } %>
